security:
  # Gestion du hachage des mots de passe
  password_hashers:
    Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: "auto"

  providers:
    app_user_provider:
      entity:
        class: App\Entity\User
        property: email

  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false

    main:
      lazy: true
      provider: app_user_provider
      form_login:
        login_path: admin_login
        check_path: admin_login
        default_target_path: /admin/media
      logout:
        path: /logout
        target: /

  # Hiérarchie des rôles
  role_hierarchy:
    ROLE_ADMIN: ROLE_USER

  # Règles d'accès
  access_control:
    - { path: ^/admin, roles: ROLE_ADMIN }
    - { path: ^/profile, roles: ROLE_USER }
